* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
  margin: 15px 0;
}

hr {
  border: 3px solid #8CFF00;
  border-radius: 50%;
}

h1 {
  color: #7300FF;
  font-weight: 700;
  font-size: 30px;
}

img {
  user-select: none
}

@keyframes scroll {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px 1250px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url("./assets/background.jpg");
  animation: scroll linear infinite 30s;
  background-position: center;
  background-size: contain;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: 15px;
}

#controls {
  display: flex;
  margin-right: 30px;
  column-gap: 40px;
  font-size: 24px;
  color: #7300FF;
}


#controls > *:hover {
  transition: 0.5s ease;
  cursor: pointer;
}

footer {
  margin-bottom: -4rem;
  text-align: center;
  font-size: 12px;
}

#introduction {
  width 100vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  color: #7300FF;
  background: linear-gradient(to left top, rgba(175, 255, 80, 0.85) 25%, rgba(100, 180, 0, 0.90) 75%);
}

#introduction h1 {
  font-size: 38px;
}

#introduction p {
  text-align: center;
  max-width: 600px;
  font-size: 23px;
}

#main {
  background-color: #f9f9f9;
  z-index: 1
}

#content {
  display: flex;
  flex-direction: column;
  padding: 5rem 10px;
  margin: 0 17.5vw;
  row-gap: 25px;
}

#content > div {
  margin : 35px 50px;
}

#features,
#installation,
#FAQ {
  display: flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
  row-gap: 75px;
  scroll-margin-top: 17.5vh;
}

#benefits,
#installation > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 35px;
  row-gap: 50px;
  scroll-margin-top: 17.5vh;
}

#utilization,
#license,
#contribution,
#changelog {
  scroll-margin-top: 17.5vh;
}

.part {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 50px 260px;
  justify-items: center;
  column-gap: 100px;
  row-gap: 50px;
}

.part img {
  grid-area:  1 / 2 / 2 / 2;
  transform: rotate(7.5deg);
  height: 11.5vw;
}

.part h3 {
  grid-area 1 / 1 / 1 / 1;
  font-size: 30px;
  color: #7300FF;
}

.part p {
  grid-area 2 / 1 / 2 / 1;
  font-size: 20px;
}

.alt img {
  grid-area : 1 / 1 / 1 / 1;
  transform: rotate(-7.5deg);
}

.alt h3 {
  grid-area : 1 / 2 / 1 / 2;
} 

.alt p{
  grid-area : 2 / 2 / 2 / 2;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  text-align: center;
  row-gap: 50px;
}

.box img {
  height : 120px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 20px 14px;
  border-radius: 15px;
  background-color: #7300FF;
  color : #f9f9f9;
  transition: 0.5s ease;
  user-select: none;
}

.btn > img {
  height : 45px;
}

.btn > p {
  font-size: 25px;
}

.btn:hover {
  transition: 0.5s ease;
  cursor: pointer;
  background-color: #5400be; 
}

#faq {
  width: 60%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-self: center;
  border: #1A1B26 3px solid;
  border-radius: 25px;
}

.question {
  padding: 20px 10px;
}

.question > div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  user-select: none;
}

#faq hr {
  border: 2px solid #111; 
}

.arrow {
  position: relative;
  display: inline-block;
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

.answer p {
  margin: 15px;
}

.visible {
  max-height: 8rem;
  transition: max-height 1s ease;
}

.active {
  transform: rotate(90deg);
  transition: transform 0.5s ease-in-out;
}
