* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.purple-color {
   color: #7300FF;
}

.green-color {
   color: #8CFF00;
}

.purple-backgound {
   background-color: #7300FF;
}

.green-background {
  background-color: #8CFF00;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
  color: #111;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: 15px;
}

#controls {
  display: flex;
  margin-right: 30px;
  column-gap: 40px;
  font-size: 24px;
}

footer {
  margin-top: 5rem;
  text-align: center;
}

.introduction {
  width 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  background: linear-gradient(to left top, #a6ff66 25%, #79de00 75%);
}

.introduction > p {
  text-align: center;
  max-width: 600px;
  font-size: 20px;
}

.main {
  margin: 3rem 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 25px;
}

#features li{
  margin : 20px 0;
}

#benefits{
  display: flex;
  justify-content: center;
  column-gap: 50px;
  row-gap: 100px;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  text-align: center;
  row-gap: 30px;
}

.box img {
  height : 100px;
}

#faq > * {
  margin: 25px 0;
}
