* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
  margin: 15px 0;
}

.purple-color {
   color: #7300FF;
}

.green-color {
   color: #8CFF00;
}

.purple-backgound {
   background-color: #7300FF;
}

.green-background {
  background-color: #8CFF00;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
  color: #111;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: 15px;
}

#controls {
  display: flex;
  margin-right: 30px;
  column-gap: 40px;
  font-size: 24px;
}

footer {
  margin: 5rem 0 1rem 0;
  text-align: center;
  font-size: 12px;
}

.introduction {
  width 100vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left top, #afff4d 0%, #62b300 100%);
  font-size: 28px;
  row-gap: 50px;
}

.introduction > p {
  text-align: center;
  max-width: 600px;
  font-size: 24px;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 3rem 25rem;
  align-items: left;
  row-gap: 25px;
}

#features,
#FAQ {
  display: flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  row-gap: 50px;
}

#benefits,
#Installation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  row-gap: 100px;
}

.part {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 50px 300px;
  justify-items: center;
  align-items: center;
  column-gap: 50px;
  row-gap: 25px;
}

.part img {
  grid-area:  1 / 2 / 2 / 2;
}

.part h3 {
  grid-area 1 / 1 / 1 / 1;
  font-size: 30px;
}

.part p {
  grid-area 2 / 1 / 2 / 1;
  font-size: 20px;
}

.alt img {
  grid-area : 1 / 1 / 1 / 1
}

.alt h3 {
  grid-area : 1 / 2 / 1 / 2;
} 

.alt p{
  grid-area : 2 / 2 / 2 / 2;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  text-align: center;
  row-gap: 30px;
}

.box img {
  height : 125px;
}

#faq > * {
  margin: 25px 0;
}
