@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-weight: 400 !important;
}

img {
  user-select: none;
}

b,
h2,
a {
  font-weight: 600 !important;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
  margin: 15px 0;
}

h1 {
  color: #8000ed;
  font-size: 30px;
}

hr {
  border: 3px solid #00aa00;
  border-radius: 50%;
}

@keyframes scroll {
  0% {
    background-positin: 0px 0px;
  }

  100% {
    background-position: 0px 1250px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('./assets/background.jpg');
  animation: scroll linear infinite 60s;
  background-position: center;
  background-size: contain;
  overflow-x: hidden;
  line-height: 35px;
  color: #353535;
  width: 100vw;
}

header {
  position: fixed;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: 15px;
}

#controls {
  display: flex;
  margin-right: 30px;
  column-gap: 40px;
  font-size: 24px;
}

#controls > *:hover {
  transition: 0.5s ease;
  cursor: pointer;
}

footer {
  margin-bottom: -4rem;
  text-align: center;
  font-size: 12px;
}

#introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75vh;
  row-gap: 40px;
  padding: 25px;
  color: #8000ed;
  text-align: center;
  background: linear-gradient(to top, rgba(60, 220, 40, 0.835) 0%, rgba(50, 190, 35, 0.9375) 100%);
}

#introduction h1 {
  font-size: 38px;
}

#introduction p {
  max-width: 600px;
  font-size: 24px;
}

#main {
  background-color: #f9f9f9;
  z-index: 1;
}

#content {
  display: flex;
  flex-direction: column;
  padding: 5rem 10px;
  margin: 0 17.5vw;
  row-gap: 25px;
}

#content > div {
  margin: 35px 50px;
}

#features,
#installation,
#FAQ {
  scroll-margin-top: 17.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
}

#benefits,
#installation > div {
  scroll-margin-top: 17.5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 35px;
  row-gap: 50px;
}

#utilization,
#license,
#contribution,
#changelog {
  scroll-margin-top: 17.5vh;
}

.part {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: 50px 275px;
  justify-content: center;
  column-gap: 5vw;
  row-gap: 35px;
}

.part img {
  grid-area: 1 / 2 / 2 / 2;
  transform: rotate(5deg);
  justify-self: center;
  height: 12.5rem;
}

.part h3 {
  grid-area: 1 / 1 / 1 / 1;
  font-size: 30px;
}

.part p {
  grid-area: 2 / 1 / 2 / 1;
  font-size: 20px;
}

.alt img {
  grid-area: 1 / 1 / 1 / 1;
  transform: rotate(-5deg);
}

.alt h3 {
  grid-area: 1 / 2 / 1 / 2;
}

.alt p {
  grid-area: 2 / 2 / 2 / 2;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 350px;
  row-gap: 35px;
}

.box img {
  height: 120px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 20px 14px;
  border-radius: 15px;
  color: #f9f9f9;
  background-color: #8000ed;
  transition: 0.5s ease;
  user-select: none;
}

.btn > img {
  height: 45px;
}

.btn > p {
  font-size: 25px;
}

.btn:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: #6a00c7;
  transition: 0.5s ease;
}

#usage ol {
  margin-left: 30px;
}

#usage div li,
#issues li {
  list-style-type: disc;
}

#usage h3 {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 600 !important;
}

#usage h2 {
  font-size: 30px;
  margin: 25px 0;
}

#faq {
  width: 60%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-self: center;
  border: #333 3px solid;
  border-radius: 25px;
}

#faq hr {
  border: 2px solid #333;
}

.question {
  padding: 20px 10px;
  cursor: pointer;
}

.question > div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  user-select: none;
}

.arrow {
  position: relative;
  display: inline-block;
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

.answer p {
  margin: 15px;
}

.visible {
  max-height: 14rem;
  transition: max-height 1s ease;
}

.active {
  transform: rotate(90deg);
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 768px) {
  body {
    line-height: 25px;
  }

  header {
    display: none;
  }

  #introduction h1 {
    font-size: 30px;
  }

  #content {
    margin: 0 7.5vw;
  }

  #content > div {
    margin: 10px 15px;
  }

  .part {
    grid-template-columns: 50% 50%;
  }

  .part img {
    height: 25vw;
  }

  .part h3 {
    font-size: 25px;
  }

  .part p {
    font-size: 15px;
  }

  .box {
    max-width: 500px;
    row-gap: 25px;
  }

  #faq {
    width: 90%;
    padding: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
  body {
    line-height: 30px;
  }

  header {
    display: none;
  }

  #content {
    margin: 0 10vw;
  }

  .part {
    grid-template-columns: 50% 50%;
  }

  .part img {
    height: 20vw;
  }

  .box {
    max-width: 500px;
    row-gap: 25px;
  }

  #faq {
    width: 90%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1488px) {
  header {
    display: none;
  }

  #content {
    margin: 0 10vw;
  }

  .part {
    grid-template-columns: 42.5% 42.5%;
  }

  .box {
    row-gap: 25px;
  }

  #faq {
    width: 70%;
  }
}

@media only screen and (min-width: 1488px) and (max-width: 1740px) {
  .part {
    grid-template-columns: 40% 40%;
  }

  #controls {
    margin-right: 20px;
    column-gap: 20px;
  }

  #faq {
    width: 70%;
  }
}
