* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #fcfcfc;
  color: #353535;
  margin: 5px 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 10px;
}

button {
  color: #fdfdfd;
  background-color: #005500;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 10px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #004500;
  color: #eee;
}

main {
  display: flex;
  margin: 50px 25px;
  height: 75vh;
  gap: 4rem;
}

#line {
  width: 2px;
  background-color: #000;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  width: 15%;
  height: 100%;
  overflow: hidden;
}

#filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #252525;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 15px 15px;
  width: 100%;
  height: 90%;
}

ul {
  list-style: none;
  overflow: scroll;
  width: 90%;
}

li {
  border-bottom: 3px solid #353535;
  padding: 15px 10px;
  font-size: 18px;
}

li:hover {
  color: #eee;
  background-color: #353535;
  user-select: none;
  cursor: pointer;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  row-gap: 1rem;
  width: 100%;
  height: 100%;
}

#content-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

#content-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  resize: none;
  background-color: #f5f5f5;
  border: 1px solid #252525;
  border-radius: 0 0 15px 15px;
  padding: 10px 15px;
  font-size: 14px;
  width: 100%;
  height: 90%;
}

textarea:focus {
  outline: none;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.topbar button {
  width: 100%;
  color: #252525;
  background-color: #f5f5f5;
  border: 1px solid #252525;
  border-radius: 0;
  font-size: 20px;
}

.html {
  border-radius: 15px 0 0 0 !important;
}

.js {
  border-radius: 0 15px 0 0 !important;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 100px;
}

footer button {
  width: 50%;
}

.active {
  background-color: #151515 !important;
  color: #fafafa !important;
}

body.dark {
  background-color: #2b2a33;
  color: #eee;
}

body.dark #filters {
  border: 1px solid #f5f5f5;
  background-color: #464453;
  color: #f5f5f5;
}

body.dark #filters li {
  border-bottom: 3px solid #f5f5f5;
}

body.dark #line {
  background-color: #f5f5f5;
}

body.dark textarea {
  border: 1px solid #f5f5f5;
  background-color: #464453;
  color: #f5f5f5;
}

body.dark .topbar button {
  color: #fcfcfc;
  background-color: #383743;
  border: 1px solid #fcfcfc;
}

body.dark li:hover {
  background-color: #ddd;
  color: #353535;
}

body.dark .active {
  background-color: #fcfcfc !important;
  color: #252525 !important;
}
