* {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-weight: 400 !important;
  user-select: none;
}

body {
  overflow: hidden;
  width: 22.5rem;
  margin: 5px 15px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #353535;
}

a {
  text-decoration: none;
  color: inherit;
}

label,
input,
button,
img {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

header div img {
  width: 24px;
  height: 24px;
}

.off {
  filter: invert(0.5);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  width: 92.5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #353535;
  border-radius: 5px;
  row-gap: 5px;
  padding: 5px 0 10px 0;
}

#settings {
  padding: 0;
  margin: 5px;
}

legend {
  margin: 3px 10px;
  font-size: 16px;
}

legend:not([for='settings']) {
  padding: 0 5px;
}

button {
  background-color: transparent;
  border: 1px solid #353535;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 8px;
  margin-bottom: 5px;
}

button:hover {
  background-color: #007a29;
  border: 1px solid #007a29;
  color: #eee;
}

#global {
  border-radius: 5px 0 0 5px;
  margin-right: -3px;
}

#local {
  border-radius: 0 5px 5px 0;
  margin-left: -3px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-left: 25px;
  font-size: 17px;
  cursor: pointer;
  user-select: none;
}

.container input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 1px;
  left: 3px;
  height: 17px;
  width: 17px;
  background-color: transparent;
  border: 1px solid #353535;
  border-radius: 3px;
  scale: 0.85;
}

.container:hover input ~ .checkmark {
  background-color: #f2f2f2;
}

.container input:checked ~ .checkmark {
  background-color: #007a29 !important;
  border: 1px solid #007a29 !important;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 6px;
  height: 10px;
  border: solid #eee;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#global:hover,
#local:hover {
  border: 1px solid #252525;
  background-color: #eee;
  color: #151515;
}

.active {
  background-color: #007a29 !important;
  color: #eee !important;
}

#block {
  padding: 10px 20px;
}

#filter {
  justify-content: center;
  column-gap: 20px;
}

#sys {
  display: flex;
  column-gap: 5px;
  margin: 5px 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  margin: 10px 5px;
}

footer div {
  display: flex;
  column-gap: 10px;
}

footer a {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

body.dark {
  background-color: #2b2a33;
  color: #eee;
}

body.dark img:not(#logo) {
  filter: brightness(0) invert(0.9);
}

body.dark header div img.off {
  filter: brightness(0) invert(0.5) !important;
}

body.dark fieldset {
  border: 1px solid #eee;
}

body.dark button {
  border: 1px solid #eee;
  color: #eee;
}

body.dark button:hover {
  background-color: #009833;
  border: 1px solid #009833;
  color: #eee;
}

body.dark #global:hover,
body.dark #local:hover {
  border: 1px solid #eee;
  background-color: #3b3a43;
  color: #eee;
}

body.dark .active {
  background-color: #009833 !important;
  color: #eee !important;
}

body.dark .container input:checked ~ .checkmark {
  background-color: #009833 !important;
  border: 1px solid #009833 !important;
}

body.dark .container:hover input ~ .checkmark {
  background-color: #3b3a43;
}

body.dark .checkmark {
  border: 1px solid #eee;
}

body.dark .container .checkmark:after {
  border: solid #eee;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
